body{
    margin: 0;
    padding: 0;
    height: auto;
    background: white;
}

.first-sec{
    background-image: url("file:///home/wecode/Desktop/special-projects/Delani-studio/assets/backgrounds/h_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

.second-sec{
    text-align: center;
    background-color: white;
}

.third-sec{
    text-align: center;
    color: white;
    background-image: url("file:///home/wecode/Desktop/special-projects/Delani-studio/assets/backgrounds/s_image.jpg")
}

.fourth-sec{
    text-align: center;
    background-color: white;
}

.fifth-sec{
    text-align: center;
}

table{
    margin-left: 8%;
}

td { 
    width:150px; 
    text-align:center; 
    padding:10px;
}

.sixth-sec{
    padding-top: 35px;
    padding-bottom: 40px;
    background-image: url("file:///home/wecode/Desktop/special-projects/Delani-studio/assets/backgrounds/c_image.jpg");
    background-repeat: no-repeat;  
    text-align: center; 
    color: white;
}

form.contact-us {
    background: transparent;
    padding-top: 20px; 
    color: white; 
}

form.contact-us input,
form.contact-us textarea,
div.contact-btn button {
    margin-bottom: 10px;
    padding: 7px 5px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}

input.contact-email {
    margin-left: 20px;
}

div.contact-btn button {
    padding: 7px 10px;
    width: 150px;
    font-weight: bold;
    transition: border 0.2s;
    font-size: 1.2rem;
    color: #fff;
}

div.contact-btn button:hover {
    border: 2px solid #fff;
}

html {
    font-family: 'Lato', 'Dosi', 'Open Sans', 'San-serif';
}

input::placeholder {
   color: #fff;
}

textarea::placeholder{
    color: #fff;
}

.seventh-sec{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.copyright{
    text-align: center;
}
#magic1,
#magic2,
#magic3 {
    display: none;
}